<div class="page">
<p id="notice"><%= notice %></p>

<dl>
  <dt>Name</dt>
  <dd><%= link_to_unless_current background.name, background_path(background.slug) %></dd>

  <dt>Download</dt>
  <dd><%= link_to_download(background) %></dd>

  <dt>Description</dt>
  <dd><%= background.description %></dd>

  <dt>Tags</dt>
  <dd>
    <ul>
      <% background.tags.each do |tag| %>
        <li><%= link_to tag.name, tag_path(sluggify(tag.name)) %></li>
      <% end %>
    </ul>
  </dd>

  <% if current_user %>
    <dt>Slug</dt>
    <dd><%= background.slug %></dd>
  <% end %>
</dl>

<% if current_user %>
  <%= link_to 'Edit', edit_background_path(background) %>
  <%= link_to 'Destroy', background, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
</div>
