<h1>Listing backgrounds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Brand</th>
    <th>Slug</th>
    <th></th>
  </tr>

<% @backgrounds.each do |background| %>
  <tr>
    <td><%= link_to background.name, background_path(background.slug) %></td>
    <td><%= background.description %></td>

    <td>
      <%= link_to background.brand.name, brand_path(background.brand.slug) %>
    </td>

    <td><%= background.slug %></td>

    <td>
      <% if current_user %>
        <%= link_to 'Edit', edit_background_path(background) %>
        <%= link_to 'Destroy', background, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
