<h1>Listing backgrounds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Brand</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @backgrounds.each do |background| %>
  <tr>
    <td><%= background.name %></td>
    <td><%= background.description %></td>

    <td>
      <%= link_to background.brand.name, background.brand %>
    </td>

    <td><%= link_to 'Show', background %></td>
    <td><%= link_to 'Edit', edit_background_path(background) %></td>
    <td><%= link_to 'Destroy', background, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
