<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @background.name %>
</p>

<p>
  <b>Description:</b>
  <%= @background.description %>
</p>

<p>
  <b>Brand:</b>
  <%= link_to @background.brand.name, @background.brand %>
</p>

<p>
  <b>Download:</b>
  <%= link_to_download(@background) %>
</p>

<% if current_user %>
  <%= link_to 'Edit', edit_background_path(@background) %>
<% end %>
