<h1>Listing brands</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Backgrounds</th>
    <th></th>
  </tr>

<% @brands.each do |brand| %>
  <tr>
    <td><%= link_to brand.name, brand %></td>
    <td><%= brand.url %></td>
    <td>
      <ul>
        <% brand.backgrounds.each do |background| %>
          <li><%= link_to background.name, background %></li>
        <% end %>
      </ul>
    </td>
    <td>
      <% if current_user %>
        <%= link_to 'Edit', edit_brand_path(brand) %>
        <%= link_to 'Destroy', brand, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
