<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brand.name %>
</p>

<p>
  <b>Url:</b>
  <%= @brand.url %>
</p>

<b>Backgrounds</b>
<ul>
  <% @brand.backgrounds.each do |background| %>
    <li><%= background.name %></li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
