<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brand.name %>
</p>

<p>
  <b>Url:</b>
  <%= @brand.url %>
</p>

<b>Backgrounds</b>
<ul>
  <% @brand.backgrounds.each do |background| %>
    <li><%= link_to background.name, background %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_brand_path(@brand) %>
